

 /*Lê Minh Thiên B2012144*/



/*Nút lên top page*/
.to-top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border: solid 1px #6b5235;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    background-color: #eeded1;
    color: #543411;
    transition: 0.3s;
}
.to-top:hover{
  background-color: #cf6a3b;
 
}
/*Footer page*/
.footer{
    
    padding-top: 70px;
    padding-bottom: 50px;


}
footer {
  
    background-color: #222222; /* Màu nền của footer */
    padding-top: 20px;
    
  }

  .footer-info{
    font-size: 20px;
    font-weight: bolder;
    color: gray;
  }
  .container {
    width: 70%;
    margin: auto;
  }
  

    /* CSS cho phần kêt nối với chúng tôi */
  .icon-resizing{
    font-size: 40px;
    margin-left: 15px;
  }
  .conection a{
    text-decoration: none;
    margin-right: 10px;
  }
 
 
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #364b60;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  .contact h2{
        color: gray;
  }
  .contact i{
    font-size: 20px;
    margin-right: 10px;
    
  }
    .contact-method{

    font-size: 16px;
    color: #eeded1;
    
  }