 
 
 
 
 /*Lê Minh Thiên B2012144*/



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
 
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    background-color: #f7eee5;
    border-radius: 8px;
    border: 0.5px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-details {
    padding: 20px;
  }
  
  h1 {
    margin-top: 0;
    font-size: 28px;
    color: #000000;
  }
  
  p {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
  